body {
  margin: 0;
  overflow: hidden;
  background: #0a0a0a;
}

#btn {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  padding: 10px 20px;
  z-index: 10;
}

.balloon {
  position: absolute;
  bottom: -80px;
  width: 50px;
  height: 70px;
  border-radius: 50%;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}


#message {
  position: fixed;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: 48px;
  color: white;
  opacity: 0;
  transform: scale(0.5);
  transition: 0.6s ease;
  pointer-events: none;
}

#message.show {
  opacity: 1;
  transform: scale(1);
}
